{% extends '_layout.html' %}
{% load static %}
{% block title %}StandBlog | Edit Profile{% endblock %}
{% block content %}
<div style="margin: 150px;"></div>
<section class="container mt-5 mb-5">
    <h1 class="text-center mt-5 mb-5">Edit Profile</h1>
    <div class="d-flex flex-column justify-content-center">
        {% for error in errors %}
        <div class="bg-danger px-2 rounded mb-2 d-flex align-items-center">
            <i class="fa fa-times text-white mx-2"></i>
            <p class=" text-white">{{ error }}</p>
        </div>
        {% endfor %}
    </div>
    <form method="post" class="row" autocomplete="off">
        {% csrf_token %}
        <div class="col-12 mb-3">
            {{ form.first_name }}
        </div>
        <div class="col-12 mb-3">
            {{ form.last_name }}
        </div>
        <div class="col-12 mb-3">
            {{ form.email }}
        </div>
        <div class="col-12 mb-3">
            <button type="submit" class="btn bg-primary text-white">Update</button>
            <a href="{% url 'index' %}" class="btn bg-secondary text-white">Back</a>
        </div>
    </form>
</section>
<div style="margin: 150px;"></div>
{% endblock %}