{% extends '_layout.html' %}
{% load static %}
{% block title %}StandBlog | {{ article.title }}{% endblock %}
{% block content %}
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Post Details</h4>
                        <h2>{{ article.title }}</h2>
                        <h6 class="text-white">{{ name }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->


<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    {% if article.image %}
                                    <img src="{{ article.image.url }}" alt="{{ article.title }}">
                                    {% else %}
                                    <img src="https://via.placeholder.com/730x320?text={{ article.title }}" alt="{{ article.title }}">
                                    {% endif %}
                                </div>
                                <div class="down-content">
                                    <span>Lifestyle</span>
                                    <a href="post-details.html">
                                        <h4>{{ article.title }}</h4>
                                    </a>
                                    <ul class="post-info">
                                        <li><a href="#">{{ article.author }}</a></li>
                                        <li><a href="#">{{ article.created|date:"d M Y" }}</a></li>
                                        <li><a href="#">10 Comments</a></li>
                                    </ul>
                                    <p>
                                        {{ article.body }}
                                    </p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-4">
                                                <a href="{% url 'blog:like_view' article.slug article.id %}" class="like-btn">
                                                    <i class="fa {% if is_liked %}fa-heart{% else %}fa-heart-o{% endif %}"></i>
                                                    <span class="text-black">{{ article.likes.count }}</span>
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    {% for category in article.category.all %}
                                                    <li><a href="#">{{ category.title }}</a>,</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-4">
                                                <ul class="post-share">
                                                    <li><i class="fa fa-share-alt"></i></li>
                                                    <li><a href="#">Facebook</a>,</li>
                                                    <li><a href="#"> Twitter</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item comments">
                                <div class="sidebar-heading">
                                    <h2>4 comments</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        {% for comment in article.comments.all %}
                                        {% if comment.parent == None %}
                                        <li>
                                            <div class="author-thumb">
                                                {% if comment.user.profile.image %}
                                                <img src="{{ comment.user.profile.image.url }}" alt="">
                                                {% else %}
                                                <img src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="right-content">
                                                <h4>{{ comment.user }}<span>{{ comment.created_at }}</span></h4>
                                                <p>{{ comment.body }}</p>
                                                <button onclick="setValueInput('{{ comment.id }}')" class="btn bg-transparent">
                                                    <i class="fa fa-reply" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </li>
                                        {% for reply in comment.replies.all %}
                                        <li class="replied">
                                            <div class="author-thumb">
                                                {% if reply.user.profile.image %}
                                                <img src="{{ reply.user.profile.image.url }}" alt="">
                                                {% else %}
                                                <img src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="right-content">
                                                <h4>{{ reply.user }}<span>{{ reply.created_at }}</span></h4>
                                                <p>{{ reply.body }}</p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>Your comment</h2>
                                </div>
                                <div class="content">
                                    <form id="comment" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <input type="hidden" name="parent_id" id="parent_id" value="">
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <textarea name="body" rows="6" id="body-comment" placeholder="Type your comment" required=""></textarea>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="main-button">Submit</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment">
                                <div class="sidebar-heading">
                                    <h2>For sending comments please login</h2>
                                    <a class="btn bg-primary text-white" href="{% url 'login' %}">Login Here</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% include 'includes/sidebar.html' %}
        </div>
    </div>
</section>
{% endblock %}

{% block footer_ref %}
<script>
    function setValueInput(value) {
        document.getElementById("parent_id").value = value;
        window.location.href = "#comment"
        document.getElementById("body-comment").placeholder = "Type Your Reply"
    }
</script>
{% endblock %}