{% extends '_layout.html' %}
{% load static %}
{% block title %}StandBlog | All Posts{% endblock %}
{% block content %}
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Recent Posts</h4>
                        <h2>Our Recent Blog Entries</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner Ends Here -->

<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        {% for article in articles %}
                        <div class="col-lg-6">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="{{ article.image.url }}" alt="{{ article.title }}">
                                </div>
                                <div class="down-content">
                                    <span>Lifestyle</span>
                                    <a href="{{ article.get_absolute_url }}">
                                        <h4>{{ article.title }}</h4>
                                    </a>
                                    <ul class="post-info">
                                        <li><a href="#">{{ article.author }}</a></li>
                                        <li><a href="#">{{ article.created }}</a></li>
                                        <li><a href="#">12 Comments</a></li>
                                    </ul>
                                    <p>{{ article.body }}</p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    {% for category in article.category.all %}
                                                    <span>{{ category.title }}</span>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-lg-12">
                            <ul class="page-numbers">
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'includes/sidebar.html' %}
        </div>
    </div>
</section>

{% endblock %}